.headers {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px #c0c0c0;
    .headers-item {
      display: flex;
      width: 1200px;
      height: 80px;
      margin: 0 auto;
      align-items: center;
      .back {
        display: flex;
        align-items: center;
        .iconfont {
          color: #409eff;
          font-size: 50px;
          cursor: pointer;
        }
        .content {
          margin-left: 20px;
          font-size: 24px;
        }
      }
    }
  }
  .footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    .footer-item {
      width: 1200px;
      margin: 0 auto;
      padding: 40px 0;
      .el-tabs {
        height: 1150px;
      }
      .content {
        padding: 30px;
        background-color: white;
        .tab-item {
          width: 100%;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 15px;
          border-bottom: 1px solid #ccc;
          padding: 0 10px;
          cursor: pointer;
          .iconfont {
            margin-right: 5px;
            color: #20b759;
          }
        }
        .tab-item:hover {
          background-color: rgb(225, 243, 216);
        }
        .el-tab-pane {
          .top {
            width: 100%;
            height: 460px;
            border: 1px solid #eee;
            background-color: #ffffff;
            .task {
              width: 100%;
              height: 100%;
              background-color: #ffffff;
            }
          }
          .center {
            display: flex;
            align-items: center;
            padding-left: 10px;
            z-index: 999;
            .el-input {
              width: 200px;
              margin: 0 20px;
            }
          }
          .bottom {
            width: 100%;
            height: 550px;
            background-color: aquamarine;
          }
        }
        .student{
          font-size: 16px;
        }
      }
    }
  }