* { margin:0; padding:0;}
body { background:url(../img/body-bg.gif) repeat;}
.warp { width:1000px; margin-top:20px; border:2px #583F55 solid; border-radius:8px; padding:9px; }
.warp p { font-size:12pt; font-weight:bold; text-align:left; }
.warp table{
	width:100%;
	margin-top:10px;
	border:1px #999 solid;
	border-collapse:collapse;
}
.warp table tr:nth-child(even) {
	background:#DEE;
}
table tr:first-child td {
	font-weight:bold;
	border:1px #999 solid;
}
tr>td {
	line-height:25px;
	overflow:hidden;
	border-bottom:1px #999 solid;
	border-collapse:collapse;
}
tr>td:first-child {
	width:50px;
	height:25px;
	text-align:center;
}
tr>td:nth-child(2) {
	width:300px;
}
tr>td:nth-child(2),tr>td:nth-child(3) {
	text-align:left;
	padding-left:12px;
}
div>div {
	width:100%;
	height:20px;
	margin-top:8px;
}
a {
    background:url(../img/bg_button_a.gif) no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a span {
    background:url(../img/bg_button_span.gif) no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
} 

a:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
} 
