.header {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 17px;
  background-color: white;
  word-wrap: break-word;
  border-radius: 10px;
  box-shadow: 0 2px 5px #c0c0c0;
  .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    .iconfont {
      font-size: 24px;
      display: flex;
      align-items: center;
      color: #ffc400;
    }
    .active {
      color: black;
    }
    .content {
      margin-left: 20px;
      font-size: 17px;
      color: black;
    }
  }
  .content-title {
    text-indent: 2em;
  }
  .content {
    width: 97%;
    margin: 5px auto;
    .content-box {
      height: 50px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px dashed #8c8c8c;
      .iconfont {
        display: flex;
        align-items: center;
        color: #ffc400;
        font-size: 22px;
        .title {
          margin-left: 10px;
          font-size: 16px;
          color: #555;
        }
      }
      .status{
        display: flex;
        align-items: center;
        .iconfont{
          margin:0 5px;
          color: #666;
        }
        .icon-wancheng1,.icon-weikaishi1{
          color: #00cf00;
        }
      }
    }
    .content-box:hover {
      background-color: #f5f5f5;
    }
  }
}
